.cockpit-container {
  display: flex;
  height: 100vh; /* Make it full screen height */
}

.control-panel {
  width: 35%;
  padding: 20px;
  background-color: #f4f6f8;
  /* Add styling for your control panel */
}

.iframe-panel {
  width: 65%;
}

iframe {
  width: 100%;
  height: 100%;
}